html, body {height:100%;}

body {
    background: #000;
}

#preload {
    display: none;
}

.embed {
    position: fixed;
    z-index: -99;
    width: 100vw;
    height: 100vh;
}

.embed-video {
    position: fixed;
    z-index: -99;
    width: 100vw;
    height: 100vh;
    top: 50vh;
    bottom: 0;
    left: 50vw;
    right: 0;
}

.navbar {
   background: #242727;
   color: #F5F5F5;
   padding-top: 5px;
   min-height: 44px;
   width: 100%;
   margin-left: 0;
   margin-right: 0;
   border-radius: 0;
}

.logo-wrapper {
    position: fixed; 
    top: 0.1vh; 
    left: 1.75vw;
}

.logo {
    font-family: 'DubtronicInline', sans-serif;
    color:#F5F5F5;
    font-size: 72px;
    letter-spacing:-1px;
}

.title-wrapper {
    position: fixed; 
    top: 1.5vh;
    right: 1.75vw;
    text-align: right;
    letter-spacing:-1px;
    color:#F5F5F5;
    font-family: 'Roboto Slab', sans-serif;
}

.title {
    font-size: 3em;
    font-weight: 100;

}

.artist {
    font-size: 2em;
    font-weight: 400;
    margin-top: -15px;
}

.control-wrapper {
    position: fixed; 
    top: 2.5vh; 
    left: 1.75vw;
}

.control {
    padding-right: 10px;
    font-size: 4em;
    color:#F5F5F5;
    overflow: hidden;
}

/*.simple-line-icons {
    font-family: 'Simple-Line-Icons', sans-serif;
    font-size: 48px;
    color: #F5F5F5;
}*/

/***************
    playlist    
****************/

.now-playing {
    display: block;
    float: left;
    font-size: 14px;
    padding-left:6px;
    padding-top: 6px;

}

.options {
    font-weight: 400;
    font-size: 18px;
    padding-top: 4px;
}

.options span {
    padding-right: 10px;
    float: right;
    display:block;
}

.playlist-wrapper {
    padding: 0 0 0 10px;
    color: #F5F5F5;
    font-family: 'Roboto Slab', sans-serif;

}

.playlist {
    padding: 100px 0 0 100px;
}

.playlist h2 {
    font-weight: 700;
    font-size: 16px;
    color: #484b4b;
    text-shadow: 1px 2px #242727;
}

.playlist ul {
    list-style-type: none;
    
}

.playlist li {
    display: block;
    float: left;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 20px 5px 20px;
}

.playlist-item {
    color: #F5F5F5;
    cursor: pointer;
    padding-bottom: 8px;
}

.playlist .preview-image {
    min-height: 180px;
    width: 320px;
    background-size: 140%;
    background-position: center;
}

.playlist-item-info {
    padding-left: 0;
    padding-top: 16px;
    padding-bottom: 4px;
    color: #F5F5F5;
}

.playlist-item-info-current {
    background: #fff;
    color: #333 !important;
    padding-left: 16px !important;
}

.playlist-item-info-current h3 {
    text-shadow: none !important;
    font-weight: 300 !important;

}

.playlist-item-info-current h4 {
    text-shadow: none !important;
}

.playlist-item:hover .playlist-item-info {
    background: #fff;
    color: #333;
    padding-left: 16px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.15s ease 0s;
    
}

.playlist-item:hover h3 {
    text-shadow: none !important;
    font-weight: 300;
}

.playlist-item:hover h4 {
    text-shadow: none !important;
}

.playlist h3 {
    font-size: 16px;
    font-weight: 100;
    margin-top: 0;
    text-shadow: 1px 1px 1px #393c3c;
}

.playlist h4 {
    font-size: 13px;
    font-weight: 700;
    margin-top: 8px;
    text-shadow: 1px 1px 2px #393c3c;
}

/* Animations */
.animate-show {
    opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all 0.5s linear 3s;
    transition: all 0.5s linear 3s;
    
}

.animate-show.ng-hide {
    opacity: 0;
}

/* Effects */
.animate-blur {
    -webkit-filter: blur(20px) opacity(0.8);
    filter: blur(20px) opacity(0.8);
}

.animate-blur.ng-hide-add.ng-hide-add-active,
.animate-blur.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all 0.5s linear 3s;
    transition: all 0.5s linear 3s;
    
}

.animate-blur.ng-hide {
    -webkit-filter: blur(0) opacity(0);
    filter: blur(0) opacity(0);
}