html, body {height:100%;}

body {
    background: #000;
}

#preload {
    display: none;
}

.embed {
    position: fixed;
    z-index: -99;
    width: 100vw;
    height: 100vh;
    
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

.video {
    top: 50vh;
    bottom: 0;
    left: 50vw;
    right: 0;
}

.navbar {
   background: #242727;
   color: #F5F5F5;
   padding-top: 5px;
   min-height: 44px;
   width: 100%;
   margin-left: 0;
   margin-right: 0;
   border-radius: 0;
}

@media (orientation : landscape) {
    .logo-wrapper {
        position: fixed; 
        bottom: 0.1vh; 
        left: 2vw;
        width: 320px;
    }
    
    .logo {
        font-family: 'DubtronicInline', sans-serif;
        color: #F5F5F5;
        font-size: 4em;
        letter-spacing: -1px;
        display: block;
    }
    
    .secondary-control-wrapper {
        position: fixed; 
        bottom: 0.1vh; 
        right: 2vw;
    }
}

@media (orientation : portrait) {
    .logo-wrapper {
        margin: 0 auto;
        width: 100%;
        position: fixed;
        bottom: 0.1vh; 
    }
    
    .logo {
        font-family: 'DubtronicInline', sans-serif;
        color: #F5F5F5;
        font-size: 4em;
        letter-spacing: -1px;
        text-align: center;
        display: block;
    }
}

.title-wrapper {
    position: fixed; 
    top: 1.5vh;
    right: 1.75vw;
    width:75vw;
    font-family: 'Roboto Slab', sans-serif;
    color:#F5F5F5;
    text-align: right;
    letter-spacing:-1px;
}

.title {
    font-size: 3em;
    font-weight: 100;

}

.artist {
    font-size: 2em;
    font-weight: 400;
    margin-top: -15px;
}

.control-wrapper {
    position: fixed; 
    top: 3.5vh; 
    left: 1.75vw;
    width:25vw;
}

.control {
    padding-right: 1vw;
    padding-bottom: 4vh;
    font-size: 3em;
    color:#F5F5F5;
    overflow: hidden;
    float:left;
}

/*.simple-line-icons {
    font-family: 'Simple-Line-Icons', sans-serif;
    font-size: 48px;
    color: #F5F5F5;
}*/

/***************
    playlist    
****************/

.now-playing {
    display: block;
    float: left;
    font-size: 14px;
    padding-left:6px;
    padding-top: 6px;

}

.options {
    font-weight: 400;
    font-size: 18px;
    padding-top: 4px;
}

.options span {
    padding-right: 10px;
    float: right;
    display:block;
}

.view-wrapper {
    padding: 0;
    width: 100%;
    height:100%;
}

.playlist {
    margin:0 auto;
    padding: 0;
    min-width:80%;
    width:100%;
    height:100%;
    
    font-family: 'Roboto Slab', sans-serif;
    color: #F5F5F5;

}

.playlist h2 {
    font-weight: 700;
    font-size: 16px;
    color: #484b4b;
    text-shadow: 1px 2px #242727;
}

.playlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 1039px) {
    .playlist li {
        display: block;
        width: 29%;
        max-width: 480px;
        margin: 0 2% 5% 2%;
        float: left;
        font-size: 12px;
        font-weight: 400;
    }
}

@media (min-width: 501px) and (max-width: 1038px) {
    .playlist li {
        display: block;
        width: 46%;
        max-width: 480px;
        margin: 0 2% 5% 2%;
        float: left;
        font-size: 12px;
        font-weight: 400;
    }
}

@media (max-width: 500px) {
    .playlist li {
        display: block;
        width: 96%;
        max-width: 480px;
        margin: 0 2% 5% 2%;
        float: left;
        font-size: 12px;
        font-weight: 400;
    }
}

.playlist-item {
    width: 100%;
    color: #F5F5F5;
    cursor: pointer;
    padding-bottom: 8px;
}

.playlist .preview-image {
    min-height: 180px;
    width: 100%;
    background-size: 140%;
    background-position: center;
}

.playlist-item-info {
    padding-left: 0;
    padding-top: 16px;
    padding-bottom: 4px;
    color: #F5F5F5;
    min-height:90px;
}

.playlist-item-info-current {
    background: #fff;
    color: #333 !important;
    padding-left: 16px !important;
    -webkit-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

.playlist-item-info-current h3 {
    text-shadow: none !important;
    font-weight: 300 !important;

}

.playlist-item-info-current h4 {
    text-shadow: none !important;
}

.playlist-item:hover .playlist-item-info {
    background: #fff;
    color: #333;
    padding-left: 16px;
    -webkit-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
    
}

.playlist-item:hover h3 {
    text-shadow: none !important;
    font-weight: 300;
}

.playlist-item:hover h4 {
    text-shadow: none !important;
}

.playlist h3 {
    font-size: 16px;
    font-weight: 100;
    margin-top: 0;
    text-shadow: 1px 1px 1px #393c3c;
}

.playlist h4 {
    font-size: 13px;
    font-weight: 700;
    margin-top: 8px;
    text-shadow: 1px 1px 2px #393c3c;
}

/* Animations */
.animate-show {
    opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    
}

.animate-show.ng-hide {
    opacity: 0;
}

.animate-show-view {
    opacity: 1;
}

.animate-show-view.ng-hide-add.ng-hide-add-active,
.animate-show-view.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    
}

.animate-show-view.ng-hide {
    opacity: 0;
}

/* Effects */
.animate-blur {
    -webkit-filter: blur(20px) opacity(0.8);
    filter: blur(20px) opacity(0.8);
}


.animate-blur.ng-hide {
    -webkit-filter: blur(0) opacity(0);
    filter: blur(0) opacity(0);
}