/*First*/
html, body {height:100%; font-family: 'Montserrat', Arial, serif;}

#preload {
    display: none;
}

.embed {
    position: fixed;
    z-index: -99;
    width: 100%;
    height: 100%;
}

.navbar {
   background: #242727;
   color: #F5F5F5;
   padding-top: 5px;
   min-height: 44px;
   width: 100%;
   margin-left: 0;
   margin-right: 0;
   border-radius: 0;
}

.logo-wrapper {
    padding-left: 5px;
}

.logo {
    padding-left: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing:-1px;
}

.control-wrapper {
    padding-top:2px;
    display: block;
    float: left;
}

.control {
    padding-right: 10px;
    font-size: 22px;
    overflow: hidden;
}

.now-playing {
    display: block;
    float: left;
    font-size: 14px;
    padding-left:6px;
    padding-top: 6px;

}

.options {
    font-weight: 400;
    font-size: 18px;
    padding-top: 4px;
}

.options span {
    padding-right: 10px;
    float: right;
    display:block;
}

.playlist {
    padding: 0 0 0 10px;
    background: #343838;
    color: #F5F5F5;
}

.playlist h2 {
    font-weight: 700;
    font-size: 16px;
    color: #484b4b;
    text-shadow: 1px 2px #242727;
}

.playlist ul {
    list-style-type: none;
    
}

.playlist li {
    display: block;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 0 5px 0;
    border-top:1px solid #484b4b;
}

.playlist .current {
    color: #00DFFC;
}