html, body {height:100%;}

#preload {
    display: none;
}

.embed {
    position: fixed;
    z-index: -99;
    width: 100vw;
    height: 100vh;
}

.embed-video {
    position: fixed;
    z-index: -99;
    width: 100vw;
    height: 100vh;
    top: 50vh;
    bottom: 0;
    left: 50vw;
    right: 0;
}

.navbar {
   background: #242727;
   color: #F5F5F5;
   padding-top: 5px;
   min-height: 44px;
   width: 100%;
   margin-left: 0;
   margin-right: 0;
   border-radius: 0;
}

.logo-wrapper {
    position: fixed; 
    top: 0.1vh; 
    left: 1.75vw;
}

.logo {
    font-family: 'DubtronicInline', sans-serif;
    color:#F5F5F5;
    font-size: 72px;
    letter-spacing:-1px;
}

.title-wrapper {
    position: fixed; 
    top: 1em;
    right: 2em;
    text-align: right;
    letter-spacing:-1px;
    color:#F5F5F5;
    font-family: 'Roboto Slab', sans-serif;
}

.title {
    font-size: 3em;
    font-weight: 100;

}

.artist {
    font-size: 2em;
    font-weight: 400;
    margin-top: -15px;
}

.control-wrapper {
    position: fixed;
    bottom: 3vh;
    left: 1.3vw;
}

.control {
    padding-right: 10px;
    font-size: 48px;
    color:#F5F5F5;
    overflow: hidden;
}

.now-playing {
    display: block;
    float: left;
    font-size: 14px;
    padding-left:6px;
    padding-top: 6px;

}

.options {
    font-weight: 400;
    font-size: 18px;
    padding-top: 4px;
}

.options span {
    padding-right: 10px;
    float: right;
    display:block;
}

.playlist {
    padding: 0 0 0 10px;
    background: #343838;
    color: #F5F5F5;
}

.playlist h2 {
    font-weight: 700;
    font-size: 16px;
    color: #484b4b;
    text-shadow: 1px 2px #242727;
}

.playlist ul {
    list-style-type: none;
    
}

.playlist li {
    display: block;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 0 5px 0;
    border-top:1px solid #484b4b;
}

.playlist .current {
    color: #00DFFC;
}

/* Animations */
.animate-show {
    opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all 0.5s linear 3s;
    transition: all 0.5s linear 3s;
    
}

.animate-show.ng-hide {
    opacity: 0;
}