<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GLTCH.TV</title>
		<meta name="description" content="Highly visual, curated music videos for some of those late nights...">
    
      <!-- Facebook OpenGraph meta tags -->
    	<meta property="og:title"
    		content="GLTCH.TV"/>
    	<meta property="og:type"
    		content="website"/>
    	<meta property="og:url"
    		content="http://gltch.tv"/>
    	<meta property="og:description"
    		content="Highly visual, curated music videos for some of those late nights..."/>
    	<meta property="og:image"
    		content="https://s3-ap-southeast-1.amazonaws.com/gltch.tv/fb-share.jpg"/>
            
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/global.css" rel="stylesheet">
		<link href="css/dubtronic.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-animate.js"></script>
		<script src="//angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/videolist.js"></script>
		<script src="js/transitions.js"></script>
		<script src="js/keymaster.js"></script>
		<style> .control { cursor:pointer } </style>
	</head>
	<body ng-app="gltch">
    
        <ui-view></ui-view>
   
        <script type="text/ng-template" id="/home.html">

            <youtube ng-show="isPlaying" width="140%" height="140%" videoid="{{currentTrack.id}}" class="embed-video" ng-class="{ 'animate-blur': showPlaylist }" style="margin-left:-70vw;margin-top:-70vh;"></youtube>
            <img ng-show="!isPlaying" src="{{playGif.url}}" class="embed animate-show" ng-class="{ 'animate-blur': showPlaylist }"/>
    
            <!-- Logo -->
            <div class="logo-wrapper animate-show" ng-hide="showPlaylist">
                <span class="logo">gltch</span>
            </div>
            
            <!-- Full Screen -->
            <div class="secondary-control-wrapper animate-show" ng-hide="showPlaylist">
                <span class="control icon-size-fullscreen" ng-show="!isFullscreen" ng-click="toggleFullScreen()"></span>
                <span class="control icon-size-actual" ng-show="isFullscreen" ng-click="toggleFullScreen()"></span>
            </div>
            
            <!-- Controls -->
            <div class="control-wrapper animate-show" ng-hide="isPlaying || showPlaylist">
                <span class="control icon-control-play" ng-hide="isPlaying" ng-click="sendControlEvent(YT_event.PLAY)"></span>
                <span class="control icon-control-pause" ng-hide="!isPlaying" ng-click="sendControlEvent(YT_event.PAUSE)"></span>
                
                <span class="control icon-control-end" ng-click="sendControlEvent(YT_event.NEXT)"></span>
                <span class="control icon-grid" ng-click="showPlaylist = !showPlaylist"></span>
            </div>
            
            <!-- Titles -->
            <div class="title-wrapper animate-show" ng-hide="isPlaying || showPlaylist">
                <p class="title">{{currentTrack.title}}</span>
                <p class="artist">{{currentTrack.artist}}</span>
            </div>
            
            
            <!-- Playlist View -->
            <div class="playlist-wrapper animate-show-playlist" ng-show="showPlaylist">
                <div class="playlist">
                    <ul>
                        <li ng-repeat="track in tracks">
                            <div class="playlist-item" ng-click="sendControlEvent(YT_event.SET,track)">
                                <div class="preview-image" style="background-image: url({{track.thumbnail}});"></div>
                                <div class="playlist-item-info" ng-class="{'playlist-item-info-current':track.id == id}">
                                    <h3>{{track.title}}</h3>
                                    <h4>{{track.artist}}</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </script>
    
    <div id="preload">
        <img src="http://i.giphy.com/KYOD96tSm8Ovm.gif" width="1" height="1" alt="Image 01" />
        <img src="http://i.giphy.com/MYHKbrINiwOrK.gif" width="1" height="1" alt="Image 02" />
        <img src="http://i.giphy.com/10BbmRxI3vEvYI.gif" width="1" height="1" alt="Image 03" />
        <img src="http://i.giphy.com/WFGW9xik06wtG.gif" width="1" height="1" alt="Image 04" />
        <img src="http://i.giphy.com/8AireQ5HNdLYQ.gif" width="1" height="1" alt="Image 05" />
        <img src="http://i.giphy.com/Ns0Wq8qAA3aI8.gif" width="1" height="1" alt="Image 07" />
        <img src="http://i.giphy.com/lhN4K3aHjcucM.gif" width="1" height="1" alt="Image 08" />
        <img src="http://i.giphy.com/aARIdLTrIgU48.gif" width="1" height="1" alt="Image 09" />
        <img src="http://i.giphy.com/KHF6bCDkreXeM.gif" width="1" height="1" alt="Image 10" />
        <img src="http://i.giphy.com/q9qcnr2bxEWM8.gif" width="1" height="1" alt="Image 11" />
        <img src="http://i.giphy.com/yugSj8GSC0wXm.gif" width="1" height="1" alt="Image 12" />
        <img src="http://i.giphy.com/W62Cg8rUyhRwk.gif" width="1" height="1" alt="Image 13" />
        <img src="http://i.giphy.com/twIv2W4ZZxvP2.gif" width="1" height="1" alt="Image 14" />
        <img src="http://i.giphy.com/FhXFXgOjLnAS4.gif" width="1" height="1" alt="Image 15" />
        <img src="http://i.giphy.com/od22gJJ5IdwFq.gif" width="1" height="1" alt="Image 16" />
        <img src="http://i.giphy.com/pwE3XEUZdAJSE.gif" width="1" height="1" alt="Image 17" />
        <img src="http://i.giphy.com/slrRZ7bkPy6oU.gif" width="1" height="1" alt="Image 17" />
    </div>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-68673685-1', 'auto');
      ga('send', 'pageview');
    </script>
    
	</body>
</html>