<!DOCTYPE html>
<html lang="en">
	<head>
		<title>&raquo; Play the next</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href="https://fontastic.s3.amazonaws.com/286WLiTNAqPq4J7ZQQqSoN/icons.css" rel="stylesheet">
		<link href="global.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
		<script src="app.js"></script>
		<style> .control { cursor:pointer } </style>
	</head>
	<body ng-app="playthenext">
    
        <ui-view></ui-view>
   
    	
    <script type="text/ng-template" id="/home.html">
  
        <youtube ng-show="isPlaying" width="100%" height="120%" videoid="{{currentTrack.id}}" class="embed" style="margin-top:-75px;"></youtube>
        <img ng-hide="isPlaying" src="{{playGif.url}}" class="embed"/>
        
        <div id="container-fluid">
            <div class="row navbar">
                <div class="col-md-2 logo-wrapper">
                    <span class="logo">Play the next</span>
            	</div>
            	
                <div class="col-md-8">
                    <div class="control-wrapper">
                        <!--<span class="glyphicon glyphicon-play control" ng-show="paused" ng-click="sendControlEvent(YT_event.PLAY); paused=false;"></span>
                        <span class="glyphicon glyphicon-pause control" ng-hide="paused" ng-click="sendControlEvent(YT_event.PAUSE)"></span>
                        <span class="glyphicon glyphicon-step-forward control"></span>-->
                        
                        <span class="glyphicon glyphicon-play control" ng-hide="isPlaying" ng-click="sendControlEvent(YT_event.PLAY)"></span>
                        <span class="glyphicon glyphicon-pause control" ng-show="isPlaying" ng-click="sendControlEvent(YT_event.PAUSE)"></span>
                        <span class="glyphicon glyphicon-fast-forward control control" ng-click="sendControlEvent(YT_event.NEXT)"></span>
                    </div>
                
                    <div class="now-playing">
                        <span>{{currentTrack.artist}} - {{currentTrack.title}}</span>
                    </div>
                </div>
                
                <div class="col-md-2 options">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="glyphicon glyphicon-list"></span>
                </div>

            </div>
            <div class="row playlist" ng-show="showPlaylist" ng-mouseout="togglePlaylist()">
                <div class="col-md-12">
                    <h2>NOW PLAYING</h2>
                    <uo>
                        <li ng-repeat="track in tracks" ng-class="{'current':track.id == id}">{{track.title}}</li>
                    </uo>
	            </div>
	        </div>
        </div>
    </script>
    
    <div id="preload">
        <img src="http://i.giphy.com/KYOD96tSm8Ovm.gif" width="1" height="1" alt="Image 01" />
        <img src="http://i.giphy.com/MYHKbrINiwOrK.gif" width="1" height="1" alt="Image 02" />
        <img src="http://i.giphy.com/10BbmRxI3vEvYI.gif" width="1" height="1" alt="Image 03" />
        <img src="http://i.giphy.com/WFGW9xik06wtG.gif" width="1" height="1" alt="Image 04" />
        <img src="http://i.giphy.com/8AireQ5HNdLYQ.gif" width="1" height="1" alt="Image 05" />
        <img src="http://i.giphy.com/KQgfR5Z28VWg.gif" width="1" height="1" alt="Image 06" />
        <img src="http://i.giphy.com/Ns0Wq8qAA3aI8.gif" width="1" height="1" alt="Image 07" />
        <img src="http://i.giphy.com/lhN4K3aHjcucM.gif" width="1" height="1" alt="Image 08" />
        <img src="http://i.giphy.com/aARIdLTrIgU48.gif" width="1" height="1" alt="Image 09" />
    </div>
    
	</body>
</html>